node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
backups
**/*.md
**/*.test.*
**/__tests__/**
.vscode
.git
.gitignore
# Exclude frontend app files from backend image build
public
**/node_modules

# Python caches
**/__pycache__/**
**/*.pyc
